<h1>{{ actionType }} Media</h1>
<form
  [formGroup]="form"
  (ngSubmit)="save()"
  #formDir="ngForm"
  class="mt-4"
  novalidate
>
  <div class="form-group row">
    <label class=" control-label col-md-12">Media type :</label>
    <div class="col-md-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="type"
          id="book-radio"
          value="Book"
          checked
        />
        <label class="form-check-label" for="Book">
          Book
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="type"
          id="music-radio"
          value="Music"
        />
        <label class="form-check-label" for="Music">
          Music
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="type"
          id="movie-radio"
          value="Movie"
        />
        <label class="form-check-label" for="Movie">
          Movie
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Title</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="title" />
    </div>
    <span class="text-danger ml-3" *ngIf="title.invalid && formDir.submitted">
      Title is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Author</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="author" />
    </div>
    <span class="text-danger ml-3" *ngIf="author.invalid && formDir.submitted">
      Author is required.
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Content"
      >Media description</label
    >
    <div class="col-md-12">
      <textarea
        class="form-control"
        rows="8"
        formControlName="content"
      ></textarea>
    </div>
    <span class="text-danger ml-3" *ngIf="content.invalid && formDir.submitted">
      Some description is required.
    </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary float-right">Save</button>
    <button class="btn btn-secondary float-left" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
